/*
    DEFINIMOS LAS VARIABLES
    Conseguimos simplificar código scss de los botones y optimizar el mantenimiento
*/
/* COLOR DEL LUGAR 'Place'*/

$colorTitle: #333;

/* COLOR DE FONDO DE BOTÓN DE ZONA: SEGÚN ESTADO */
$backgroundOff: #fff;
$backgroundHeating: radial-gradient(circle farthest-corner at 0% 100%, #EF694E 0%, #CF1E11 100%);
$backgroundCooling: radial-gradient(circle farthest-corner at 0% 100%, #40C3F7 0%, #0B69A3 100%);
$backgroundSuccess: radial-gradient(circle farthest-corner at 0% 100%, #2DCC9A 0%, #01644F 100%);